<p>
  Welcome to the Admin Dashboard for the Trocaire Diabetes Management app!
</p>

<p>
  The Admin Dashboard is a supplementary application to the Diabetes
  Management Doctor app. This web app allows you to:
  <ul>
    <li>Invite a Doctor
      <p>In order to use the Android app, a doctor must be invited by
        a Trocaire administrator or doctor to signup to the services.
        Anyone uninvited will not be blocked from creating an account.
        This is a security measure to prevent unknown users from signing up.
      </p>
    </li>

    <li>Register a Clinic
      <p>Register an existing clinic if you can't find it from your list.
      </p>
    </li>

    <li>Join a Clinic
      <p>If you have a doctor account, you can join a clinic to manage patients
        who belong to it.
      </p>
    </li>
  </ul>
</p>