<div hidden class="quickstart-user-details-container">
  Firebase sign-in status: <span id="sign-in-status">Unknown</span>
</div>

<div hidden>Firebase auth <code>currentUser</code> object value:
  <pre><code id="quickstart-account-details">null</code></pre>
</div>