<p>
  Edit your details.
</p>

<form action="/api/updateDoctor" method="post" id="edit-profile">
  <label for="firstName">First Name:</label>
  <input type="text" id="first-name" name="firstName"><br>

  <label for="lastName">Last Name:</label>
  <input type="text" id="last-name" name="lastName"><br>

  <label for="licenseNumber">License Number:</label>
  <input type="number" id="license-number" name="licenseNumber"><br>

  <label for="email">Email: </label>
  <input type="text" id="email" name="email"><br>

  <label for="username">Username:</label>
  <input type="text" id="username" name="username"><br>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" pattern=".{6,}" title="Six or more characters is required."
    onkeyup="validatePassword()" /><br />

  <label for="confirmPassword">Confirm Password:</label>
  <input type="password" id="confirmPassword" name="confirmPassword" pattern=".{6,}"
    title="Six or more characters is required." onkeyup="validatePassword()" />

  <input type="hidden" name="doctorID" id="doctor-id" required>

  <input type="submit" class="action-submit" name="submit">
</form>