<form action="/api/createClinic" method="post">
  <label for="male">Clinic Name:</label>
  <input type="text" name="clinicName" required />

  <input type="submit" class="action-submit" value="Submit" />
</form>