<p>
  Edit a patient's account.
</p>

<form action="/api/updatePatient" method="post">
  <label for="patientID">Patient ID:</label>
  <input type="number" name="patientID" required><br>

  <label for="firstName">First Name:</label>
  <input type="text" name="firstName"><br>

  <label for="lastName">Last Name:</label>
  <input type="text" name="lastName"><br>

  <label for="height">Height:</label>
  <input type="number" name="height"><br>

  <label for="pregnant">Is the patient pregnant?</label>
  <input type="number" name="pregnant"><br>

  <label for="mobileNumber">Mobile Number:</label>
  <input type="number" name="mobileNumber"><br>

  <label for="userName">Username:</label>
  <input type="text" name="userName"><br>

  <input type="submit" class="action-submit" name="submit">
</form>