<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.diabetesapp">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".InternetService"
            android:enabled="true"
            />
        <receiver
            android:name=".SensorRestarterBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="RestartServiceWhenStopped">
        </receiver>
        <activity android:name=".CheckSugarImage" />
        <activity android:name=".CheckImage" />
        <activity
            android:name=".CameraSugar"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InputPressureSugar"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DataSubmit"
            android:configChanges="orientation"
            android:screenOrientation="portrait" /> <!-- TEMPORARY!!! -->
        <activity
            android:name=".DataEnter"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Manual"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InputPassword"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Camera"
            android:configChanges="orientation"
            android:screenOrientation="portrait" /> <!-- TEMPORARY!!! -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="ocr" />
    </application>

</manifest>